@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(33, 53, 85);
  background-size: cover;
  font-family: "Fjalla One", sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.search-result {
  background: rgb(245, 239, 231);
  padding: 50px 80px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 10px 10px 5px #D8C4B6;
  overflow-x: hidden;
  height: 55vh;
  max-width: 100%;
  transition: background 0.3s ease-in-out;
}
.sad_emoji {
  display: flex;
  margin: auto;
  size-adjust: cover;
  height: 130px; 
  max-width: 100%;
}

.center{
  align-items: center;
  align-content: center;
}

.link-text {
  display: block;
  font-size: 13pt;
  line-height: 30pt;
  font-family: "Fjalla One";
  margin-bottom: 30pt;
  border-bottom: 3px solid rgb(33, 53, 85);
  background: rgb(245, 239, 231);
  min-width: 250px;
  color: rgb(33, 53, 85);
  text-decoration:none;
  transition: all 0.3s ease;
}


.link-text:hover {
  border-bottom: 5px solid rgb(216, 196, 182);
  transform: scale(1.05);
}

.arrow-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: rgb(33, 53, 85);
}

.arrow-link::after {
  content: " \f061";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  margin-left: auto;
}

::-webkit-scrollbar {
  display: none;
}