<!DOCTYPE html>
<html lang="en">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/output.css">
</head>
<body>
   <div class="search-result">
      {% set list_size = links|length %}
      {% if list_size == 0 %}
      <p class="link-text">Sorry, we could not find anything.....</p>
      <img class="sad_emoji" src="/static/images/sad_emoji.png" alt="SORRY">
      {% else %}
      {% for index in range(list_size) %}
      <div class="container">
         <a class="link-text arrow-link " href="{{ links[index] }}">{{ loop.index }}. {{ docs_name[index] }}
            <span class="arrow"></span>
         </a>
      </div>
      {% endfor %}
      {% endif %}
   </div>
</body>
</html>